@charset "utf-8";
   @font-face {
   font-family: Champagne;
   src: url(cac_champagne.woff) format('woff'),
   url(cac_champagne.ttf) format('truetype');
    }
   @font-face {
      font-family: Grunge;
      src: url(1942.woff) format('woff'),
      url(1942.ttf) format('truetype');
   }
   @font-face {
      font-family: Dobkin;
      src: url(DobkinPlain.woff) format('woff'),
      url(DobkinPlain.ttf) format('truetype');
   }
html{
    background-color: hsl(91, 8%, 56%); 
 }
 #a{
     text-align: center;
     font-family: Grunge, ‘Times New Roman’, Times, serif;
     font-size: xxx-large;
 }
 body{
    
    margin: 0 auto;
    background-color: hsl(91, 8%, 96%); 
	width: 100%;
	max-width: 1020px;
    min-width: 640px;
    /* padding-top: 48px; */
    border-style: solid;    
 }
 header{
     padding: 48px;
    background-color: #367c37;
    /* margin: 45px; */

 }
 article{
    background-color:  #367c37;
 }
 section.marginset{
    align-content: center;
    padding: 20px;
    background-color: #97BC62FF;
    margin-top: 0px;
    border-style: dotted; 
}
section#marginset{
    align-content: center;
    padding: 20px;
    background-color: #97BC62FF;
    margin-bottom: 0px;
    border-style: dotted; 
}
 section {
    align-content: center;
    padding: 20px;
    background-color: #97BC62FF;
    margin: 15px;
    border-style: dotted; 
}
footer{
    margin: inherit;
    border-style: dotted;
    font-size: larger;
    font-weight: bolder; 
    text-align: center;
    background-color:   #367c37;
}
ul.a ,ul{list-style-type: circle;font-family: "Lucida Handwriting", "Papyrus";
    font-size:large}
ul.b {list-style-type: square;}
h1{
    font-family: Champagne, cursive;
    font-weight: bolder;
    font-size: 40px;
    text-decoration:underline;
}
dt{
    font-family: "Lucida Handwriting", "Papyrus";
    font-size:large;
    font-weight: bold;
}dd{
    font-family: "Lucida Handwriting", "Papyrus";
    font-size:large;
    
}