@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');


  /* tab view */
  @media only screen and (min-width: 768px){
  html{
    background-color: aliceblue;
}
body {
  font-family: "Trirong", serif;
}
  nav{
    flex-direction: column; 
 }
 /* li {
  float: left;
} */
#c{padding-left: 29px;}
 #name{
   text-align: center;
  
flex-direction: column;
}
div #boy{
  margin-right: 33px;
}
nav{
  flex-direction: column; 
  flex-wrap: wrap;
}
figcaption{
 display: flex;
 font-weight: bold;
 padding: inherit;
 text-align: center;
 flex-wrap: wrap;
 padding-top: 12px;
}
#port{
 text-align: center;
}
img{
 display: flex;
 flex-wrap: wrap;
}

div{
 display: flex;
 align-items: center;
flex-direction: column;
flex-wrap: wrap;
flex: 1;
}
body>nav {
  font-family: "Trirong", serif;
}
body {
  font-family: "Trirong", serif;
}
ul {
  display: flex!important;
    flex-direction: row!important;
 list-style-type: none;
 margin: 0px;
 padding: 0px;
 overflow: hidden;
 background-color:aliceblue;
}



li a {
 display: flex;
 color: black;
 text-align: center;
 padding: 22px 5px;
 text-decoration: none;
}
li a:hover {
 background-color: rgb(119, 115, 115);
 text-decoration-color: black;
}
 
.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
   padding:10px;  /*   5% */
}
.grid-container2 {
  display: flex  !important;
    flex-direction: row !important
   
}
#a{
  margin-right: 10.2%!important;
}
#b{
  margin-left: 7.5px!important;
}
#boy{
  width: 290px;
  margin-top: 0px !important;
    margin-bottom: 0px !important
}
.grid-item2{
  margin-left: 50px;
  text-align: initial;
  margin-bottom: auto;

}
#calc{
  margin-top: -28px;
}

p{
  padding-left: 90px;
    padding-right: 80px;
    text-align: -webkit-center;
}
}
/* mobile view */
@media only screen and (min-width: 320px){
  html{
    background-color: aliceblue;
}
body {
  font-family: "Trirong", serif;
}
    nav{
       flex-direction: column; 
       flex-wrap: wrap;
    }
    #a{
      margin-right: 10.2%
    }
    #b{
      margin-left: 7.5px;
    }
    figcaption{
      display: flex;
      font-weight: bold;
      padding: inherit;
      text-align: center;
      flex-wrap: wrap;
    }
    #port{
      text-align: center;
    }
    img{
      display: flex;
      flex-wrap: wrap;
    }
    div{
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .grid-container2{
      display: flex;
      align-items: center;
      flex-direction: column-reverse;;
    flex-wrap: wrap;
    }
    body>nav{
      font-family: "Audiowide", sans-serif;
      
  }
  ul {
    display: flex;
    flex-direction: column;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:aliceblue;
    }
    
   
    
    li a {
      display: block;
      color: black;
      text-align: center;
      
      text-decoration: none;
    }
    li a:hover {
      background-color: rgb(42, 171, 180);

      text-decoration-color: rgb(128, 74, 74);
    }
    #boy{
      width: 290px;
      
    }
    
}


@media only screen and (min-width: 1023px) {
  
  @import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');
  html{
      background-color: aliceblue;
  }
  body {
    font-family: "Trirong", serif;
  }
  #name{
    align-items: flex-start;
    margin-left: 98px;
  }
  #boy{
    width: auto!important;
    margin-right: -160px!important;
    
  }
  
    .grid-container1{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
       }
       p{
        padding-left: 0px;
          padding-right: 0px;
          text-align: -webkit-center;
      }
      
    .grid-container {
      display: grid;
    grid-template-columns: auto auto auto;
    padding:10px;
    }
 .grid-item1{
  flex-flow: row-reverse;
  margin-right: 106px;
 }
 .grid-item2{
  margin-left: 98px;
  text-align: initial;
  margin-bottom: auto;
}
p{
  font-size: larger;
}
#uprig{
  font-size: larger;
}
}
 
 
