
div {
    background-color: lightsteelblue;
    width: 300px;
    border: 20px black ;
    border-radius: 3%;
    padding: 50px;
    margin: 20px;
  }
  fieldset {
    border: 1px solid #000;
    background-color: lightsteelblue;
    width: 300px;
    border-radius: 3%;
    padding: 50px;
    margin: 20px;

}
legend{
  border: 1px solid #000 ;
  background-color: slategray;
  color: white;
}
.button1 {border-radius: 12px;
  background-color: #4cafaa;
}
body{
  margin: 10%;
  padding-left: 23%;
  font-family: "Sofia", sans-serif;
  background-image: url("Calculator+zero+screen+grey+background.jpg");
  background-repeat: no-repeat, repeat;
background-size:cover;
}